In [1]:
import pandas as pd

In [2]:
liste=[1,2,3,"a","b","c"]
liste

[1, 2, 3, 'a', 'b', 'c']

In [3]:
df=pd.DataFrame(liste,columns=["veri1"])
df

  veri1
0     1
1     2
2     3
3     a
4     b
5     c

In [4]:
import numpy as np

In [12]:
veriler=np.random.randint(1,100,([3,3]))
veriler

array([[83, 61, 26],
       [24, 15, 26],
       [ 2,  9, 25]])

In [14]:
#verileri dataframe olarak gösterin
df1=pd.DataFrame(veriler,index=["satır1","satır2","satır3"] , columns=["sütun1","sütun2","sütun3"])
df1

        sütun1  sütun2  sütun3
satır1      83      61      26
satır2      24      15      26
satır3       2       9      25

In [15]:
veriler=[["melisa","tuğtekin",15],["rukiye","balı"]]
veriler

[['melisa', 'tuğtekin', 15], ['rukiye', 'balı']]

In [19]:
df2=pd.DataFrame(veriler , index=["ogrenci1","ogrenci2"],columns=["ad","soyad","yas"])
df2

              ad     soyad   yas
ogrenci1  melisa  tuğtekin  15.0
ogrenci2  rukiye      balı   NaN

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, ogrenci1 to ogrenci2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ad      2 non-null      object
 1   soyad   2 non-null      object
 2   yas     1 non-null      float64
dtypes: float64(1), object(2)
memory usage: 64.0+ bytes

In [27]:
df2.axes

[Index(['ogrenci1', 'ogrenci2'], dtype='object'),
 Index(['ad', 'soyad', 'yas'], dtype='object')]